<h4>Bonjour,</h4>


<p>Votre proposition <%= @mission.title %> sur l'établissement : <%= @etablissement.name %> a bien été supprimé.</p>


<p>Pour rappel, la voici :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>


