Bonjour,


<%= @etablissement.name %> fait partie des établissements inscrits sur Bookagrandma, la plateforme gratuite qui permet de vous connecter avec des bénévoles qui souhaitent s'impliquer auprès de vos pensionnaires.

A ce titre, vous pouvez créer de nombreuses propositions sur votre page afin d'inviter des bénévoles à vous rejoindre.

La proposition <%= @mission.title %> a été supprimée.</p>


Voici ce qu'elle proposait :

Proposition : <%= @mission.title %>
Détail : <%= @mission.body %>
Lieu : <%= @mission.place %>
Temps disponible : <%= @mission.appointment %>


N'hésitez pas à créer de nouvelles propositions la place.
