<h4>Bonjour,</h4>


<p><%= @etablissement.name %> fait parti des établissements qui peuvent recevoir des bénévoles qui veulent du lien avec vos pensionnaires. </p>

<p>La proposition <%= @mission.title %> a été supprimée.</p>



<p>Voici sa proposition supprimé :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>


