<p>Bonjour <%= @etablissement.name %>,</p>


<p><%= @etablissement.name %> fait partie des établissements inscrits sur Bookagrandma.</p>

<p>A ce titre, vous pouvez créer de nombreuses propositions sur votre page afin d'inviter des bénévoles à vous rejoindre.</p>

<p>La proposition <%= @mission.title %> a été supprimée.</p>

<p>Voici ce qu'elle proposait :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>

<p> N'hésitez pas à créer de nouvelles propositions à la place.</p>

