<p>Bonjour <%= @etablissement.name %>,</p>


<p><%= @etablissement.name %> fait partie des établissements inscrits sur Bookagrandma.</p>

<p>Vous avez une nouvelle proposition.</p>

<p>Voici son contenu :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>

<p>Pour voir, modifier ou supprimer votre proposition, rdv sur <a href="https://bookagrandma.herokuapp.com"> BOOKaGRANDMA </a></p>

