<h4>Bonjour <%= @benevole.firstname %>,</h4>


<p>Votre commentaire <%= @mission.title %> sur l'établissement : <%= @etablissement.name %> a bien été ajouté.</p>


<p>Pour rappel, la voici :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>

<p>Pour voir modifier ou supprimer, rdv sur cette page : <%= mission_url(@mission.id) %></p>


