<p>Bonjour <%= @benevole.firstname %>,</p>


<p>Votre propositon <%= @mission.title %> sur la page de l'établissement <%= @etablissement.name %> a bien été ajoutée.</p>


<p>Pour rappel, la voici :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>

<p>Pour voir, modifier ou supprimer votre proposition, rdv sur <a href="https://bookagrandma.herokuapp.com"> BOOKaGRANDMA </a></p>
