<h4>Bonjour,</h4>


<p><%= @etablissement.name %> fait partie des établissements inscrits sur Bookagrandma, la plateforme gratuite qui permet de vous connecter avec des bénévoles qui souhaitent s'impliquer auprès de vos pensionnaires. </p>

<p>Vous avez une nouvelle proposition.</p>

<p>Voici son contenu :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>

<p>Pour voir cette proposition, rdv sur cette page : rdv sur cette page : <%= link_to "BookaGrandma", @etablissement.id %></p>
