<h4>Bonjour,</h4>


<p>Votre proposition <%= @mission.title %> sur la page de l'établissement : <%= @etablissement.name %> a bien été mis à jour.</p>


<p>Pour rappel, la voici :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>

<p>Pour voir, modifier ou supprimer votre proposition, rdv sur cette page : <%= missions_url(@benevole.missions) %></p>

