<h4>Bonjour,</h4>


<p><%= @etablissement.name %> fait partie des établissements inscrits sur Bookagrandma, la plateforme gratuite qui permet de vous connecter avec des bénévoles qui souhaitent s'impliquer auprès de vos pensionnaires.</p>

<p>La proposition <%= @mission.title %> a été modifiée.</p>


<p>Voici la proposition mise à jour :</p>
<blockquote>
<em>Proposition : <%= @mission.title %></em>
<em>Détail : <%= @mission.body %></em>
<em>Lieu : <%= @mission.place %></em>
<em>Temps disponible : <%= @mission.appointment %></em>
</blockquote>

<p>Pour voir cette proposition, rdv sur cette page : <%= link_to "BookaGrandma" mission_url(@etablissement.mission) %></p>