<%= render partial: "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<h1>Etablissements</h1> 

<%= form_tag etablissements_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search], placeholder: "Trouver un établissement"%>
 
  <%= submit_tag "Rechercher", :name => nil  %>
 <% end %>


<br>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Zip</th>
      <th>City</th>
      <th>Dept</th>
      <th>Category</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @etablissements.each do |etablissement| %>
      <tr>
        <td><%= etablissement.id %></td>
        <td><%= etablissement.name %></td>
        <td><%= etablissement.address %></td>
        <td><%= etablissement.zip %></td>
        <td><%= etablissement.city %></td>
        <td><%= etablissement.dept %></td>
        <td><%= etablissement.category %></td>
        <td><%= etablissement.email %></td>
        <td><%= etablissement.phone %></td>
        <td><%= link_to 'Voir l\'établissement', etablissement_path(etablissement) %></td>
      </tr>
    <% end %>
        
  </tbody >

</table>


<p><%= link_to "Revenir à l'Accueil", root_path %></p>