<%= render partial: "layouts/navbar" %>

<div class="page-container indexet" >
<div id="search">
<p id="notice"><%= notice %></p>

<h1>Etablissements</h1>

<%= form_tag etablissements_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search], placeholder: "Trouver un établissement"%>

  <%= submit_tag "Rechercher", :name => nil  %>
 <% end %>
 </div>

<div class = "table"></div>
<br>
<table>
  <thead class="table-title">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Zip</th>
      <th>City</th>
      <th>Dept</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @etablissements.each do |etablissement| %>
      <tr class="infos">
        <td><strong><%= etablissement.name %></strong>    <em><%= etablissement.address %>    <%= etablissement.zip %>    <%= etablissement.city %>    <%= etablissement.dept %></em></td>
        <div><td class="link_et"><%= link_to 'Voir l\'établissement', etablissement_path(etablissement) %></td></div>
      </tr>   
    <% end %>
  </tbody >

</table>


<p><%= link_to "Revenir à l'Accueil", root_path, :class => "nav-links" %></p>
</div>


