<%= render partial: "layouts/navbar" %>

<div class="page-container hopital-profile">

  <h2>Bienvenue sur la page de <%= @etablissement.name%></h2>
  <div class="decor-line"></div>
    <div class="profile-card-container">
      <div class="profile-card">
        <h2><i class="fa fa-map-marker" aria-hidden="true"></i>Localisation</h2>
        <h3>Address</h3>
        <p><%= @etablissement.address%></p>

        <h3>ZIP</h3>
        <p><%= @etablissement.zip%></p>

        <h3>City</h3>
        <p><%= @etablissement.city%></p>

        <h3>Dept</h3>
        <p><%= @etablissement.dept%></p>
      </div>

      <div class="profile-card">
        <h2><i class="fa fa-phone" aria-hidden="true"></i>Contact</h2>
        <h3>Category</h3>
        <p><%= @etablissement.category%></p>

        <h3>Phone</h3>
        <p><%= @etablissement.phone%></p>
      </div>
  </div>


  <h3>NEW MISSION</h3>
  <%= link_to 'New Mission', new_etablissement_mission_path(@etablissement) %>

  <br>


  <%= link_to 'Retour liste etablissemet', etablissements_path %> |
   <%= link_to 'Supprimer l\'établissement', @etablissement,
                method: :delete,
                data: { confirm: 'Etes vous certain?' } %>
  </table>

</div>

<!--

<form method="post" enctype="text/plain" action="mailto:<%#= @etablissement.email%>?subject=Mise en contact via BookaGrandma&body=Le corps du message&cc=<%#= current_benevole.email %>&bcc=bookagrandma@gmail.com">
  <br>

  <textarea name="Bonjour, je suis <%#= current_benevole.firstname %> <%#= current_benevole.lastname %>, j'aimerais proposer effectuer du bénévolat auprès de votre communauté. Rejoignez-moi sur BookaGrandma. A +" placeholder="Message" rows="4">
  </textarea>

  <br>

  <input value="Envoyez un email" type="submit"></input>
</form> -->
