<p>
  <strong>Name</strong>
  <%= @etablissement.name%>
</p>
 
 <p>
  <strong>Address</strong>
  <%= @etablissement.address%>
</p>

<p>
  <strong>ZIP</strong>
  <%= @etablissement.zip%>
</p>

<p>
  <strong>City</strong>
  <%= @etablissement.city%>
</p>

<p>
  <strong>Dept</strong>
  <%= @etablissement.dept%>
</p>

<p>
  <strong>Category</strong>
  <%= @etablissement.category%>
</p>

<p>
  <strong>Phone</strong>
  <%= @etablissement.phone%>
</p>
 

<p>NEW MISSION</p>
<%= link_to 'New Mission', new_mission_path %>

<br>


<%= link_to 'Retour liste etablissemet', etablissements_path %> |
 <%= link_to 'Supprimer l\'établissement', @etablissement,
              method: :delete,
              data: { confirm: 'Etes vous certain?' } %>
</table>



<form method="post" enctype="text/plain" action="mailto:<%= @etablissement.email%>?subject=Mise en contact via BookaGrandma&body=Le corps du message&cc=<%= current_benevole.email %>&bcc=bookagrandma@gmail.com">
  <br>

  <textarea name="Bonjour, je suis <%= current_benevole.firstname %> <%= current_benevole.lastname %>, j'aimerais proposer effectuer du bénévolat auprès de votre communauté. Rejoignez-moi sur BookaGrandma. A +" placeholder="Message" rows="4">
  </textarea>

  <br>

  <input value="Envoyez un email" type="submit"></input> 
</form>