<%= render partial: "layouts/navbar" %>

<div class="page-container benevole-profile">

  <h2>Bienvenue sur la page de <span><%= @etablissement.name%></span></h2>
  <div class="decor-line"></div>

  <h3>Carte d'identité de <%= @etablissement.name %></h3>
    <div class="profile-card">
      <div class="id-head">
      <% if @etablissement.avatar? %>
          <%= image_tag @etablissement.avatar_url, :class => 'avatar' %>
          <% else %>
          <img src="http://www.mycolorapp.com/static/profile_images/dummy.png" class="avatar">
      <% end %>
      <div>
        <p class="name"><%= @etablissement.name %> </p>
      </div>

 </div>
    <div class="id-main">
      <div>      
        <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Adresse</h3>
        <p><%= @etablissement.address%></p> 
        <p><%= @etablissement.zip%></p>
        <p><%= @etablissement.city%></p>
        <p><%= @etablissement.dept%></p>
      </div>
    <div>
        <h3><i class="fa fa-mobile" aria-hidden="true"></i>Contact</h3>
        <p><%= @etablissement.phone%></p>
      </div>
       <div>
      <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Description</h3>
        <% if (@etablissement.description == nil)  %>
          <p><%= render html: "N'oubliez pas de rajouter votre description" %></p>
          <% else %>
          <p><%= @etablissement.description %></p>
        <% end %>
      </div>
    </div>
      <div class="id-footer">
      <% if etablissement_signed_in? && @etablissement.id == current_etablissement.id%>
      <%= link_to "Modifier mes informations", edit_etablissement_registration_path, :class => 'edit-info' %> 
      <% end %> 
    </div>
  </div>


  <h3>Les propositions de <span><%= @etablissement.name %> </span> <%= link_to 'Je propose une nouvelle mission', new_etablissement_mission_path(@etablissement), :class => 'edit-info' %> </h3>
      <% @missions.each do |mission| %>
      <div class="profile-card mission-card">
      <h4><%= mission.title %></h4>
      <p><%= mission.body %></p>
      <p><%= mission.appointment %></p>
<!--affichage si benevole sign in -->
    <% if benevole_signed_in? && current_benevole.id == mission.benevole_id %>
        <p class="comment-links">Mission proposée par <%= link_to 'moi-même',  benevole_path(mission.benevole_id) %> </p>
    <% else %>
    <% end %>


    <% if benevole_signed_in? && current_benevole.id != mission.benevole_id && mission.benevole_id != nil %>
        <p class="comment-links">Mission proposée par <%= link_to mission.benevole.firstname,  benevole_path(mission.benevole_id) %> </p>
    <% else %> 
    <% end %>


   <% if benevole_signed_in? && current_benevole.id != mission.benevole_id && mission.benevole_id == nil %>
        <p class="comment-links">Mission proposée par l'établissement <%= link_to mission.etablissement.name,  etablissement_path(mission.etablissement_id) %> </p>
    <% else %> 
    <% end %>
        

<!--affichage si etablissement sign in -->

    <% if etablissement_signed_in? && current_etablissement.id == mission.etablissement_id && mission.benevole_id != nil %> 
        <p class="comment-links">Mission proposée par <%= link_to mission.benevole.firstname, benevole_path(mission.benevole_id)%> </p>
    <% else %>
    <% end %>


    <% if etablissement_signed_in? && current_etablissement.id == mission.etablissement_id  && mission.benevole_id == nil %>
        <p class="comment-links">Mission proposée par <%= link_to "vous-même", etablissement_path(mission.etablissement_id)%> </p>
    <% else %>
    <% end %>

    <% if etablissement_signed_in? && current_etablissement.id != mission.etablissement_id  && mission.benevole_id == nil %>
        <p class="comment-links">Mission proposée par <%= link_to mission.etablissement.name, etablissement_path(mission.etablissement_id)%> </p>
    <% else %>
    <% end %>


  <% if etablissement_signed_in? && current_etablissement.id != mission.etablissement_id && mission.benevole_id != nil %>
        <p class="comment-links">Mission proposée par <%= link_to mission.benevole.firstname, benevole_path(mission.benevole_id)%> </p>
    <% else %>
    <% end %>


    <!--affichage si benevole sign in pour modifier / supprimer -->
     
        <% if benevole_signed_in? && current_benevole.id == mission.benevole_id  %>
          <%= link_to 'Modifier', edit_mission_path(mission), :class => 'edit-links' %>
          <%= link_to 'Supprimer', mission, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'cancel-links' %>
       
        <% else %>
      <% end %>
 <!--affichage si etablissement sign in pour modifier / supprimer -->

  <% if etablissement_signed_in? && current_etablissement.id == mission.etablissement_id && mission.benevole_id == nil %>
          <%= link_to 'Modifier', edit_mission_path(mission), :class => 'edit-links' %>
          <%= link_to 'Supprimer', mission, method: :delete, data: { confirm: 'Certain?' }, :class => 'cancel-links' %>
        <% else %>
       
      <% end %>
</div><br>

    <% end %>

  <%= link_to 'Revenir à l\'accueil', root_path, :class=> 'nav-links' %>


<% if etablissement_signed_in?  %>
  <%= link_to 'Retour à la liste des bénévoles', benevoles_path, :class => 'nav-links' %>
  </div><br>
    <% else %>
  <% end %>


<% if benevole_signed_in? %>
  <%= link_to 'Retour à la liste des établissements', etablissements_path, :class => 'nav-links' %>
  </div><br>
    <% else %>
  <% end %>

</div>