<p>
  <strong>Name</strong>
  <%= @etablissement.name%>
</p>
 
 <p>
  <strong>Address</strong>
  <%= @etablissement.address%>
</p>

<p>
  <strong>ZIP</strong>
  <%= @etablissement.zip%>
</p>

<p>
  <strong>City</strong>
  <%= @etablissement.city%>
</p>

<p>
  <strong>Category</strong>
  <%= @etablissement.category%>
</p>

<p>
  <strong>Phone</strong>
  <%= @etablissement.phone%>
</p>
 

<%= link_to 'Retour liste etablissemet', etablissements_path %> |
 <%= link_to 'Supprimer l\'établissement', @etablissement,
              method: :delete,
              data: { confirm: 'Etes vous certain?' } %>
</table>



<form method="post" enctype="text/plain" action="mailto:<%= @etablissement.email%>?subject=Mise en contact via BookaGrandma&body=Le corps du message&cc=mettrele maildubenevoleconnecté&bcc=bookagrandma@gmail.com">
  <input type="text" id="name" placeholder="mettre coordonnées automatiques benevole" />
  <br>
  <textarea id="message" placeholder="Message" rows="4"></textarea>
          <br>
      <input value="Envoyez un email" type="submit"></input> 
</form>