<p id="notice"><%= notice %></p>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.title %></td>
        <td><%= mission.body %></td>
        <td><%= mission.place %></td>
        <td><%= mission.appointment %></td>
        <td><%= mission.benevole_id %></td>
        <td><%= mission.etablissement_id %></td>
        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>