<%= render partial: "layouts/navbar" %>

<div class="page-container indexben" >
<div id="search">
<p id="notice"><%= notice %></p>


<h1>Bénévoles</h1>


 <%= form_tag benevoles_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search], placeholder: "Trouver un bénévole"%>
   <%= submit_tag "Chercher", :name => nil %>
 <% end %>

<div class = "table"></div>
<br>
<table>
  <thead class="table-title">
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Ville</th>
      <th>Code postal</th>
      <th>Motivation</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody >

    <% @benevoles.each do |benevole| %>
      <tr class="infos">
        <div><td><strong><%= benevole.firstname %>   <%= benevole.lastname %></strong>   <em><%= benevole.city %>   <%= benevole.zip %></em>   <%= benevole.motivation %></td>
        </div>
        <div><td class="link_ben"><%= link_to 'En savoir plus sur le bénévole', benevole_path(benevole) %></td>
        <td colspan="6"></td></div>
      </tr>
    <% end %> 
  </tbody>
</table>

<p><%= link_to("Revenir à l'Accueil",root_path)%></p>



