<%= render partial: "layouts/navbar" %>

<div class="page-container benevole-profile">

  <h2>Bienvenue sur le profil de <span><%= @benevole.firstname %></span></h2>
  <div class="decor-line"></div>

  <h3>Carte d'identité de <%= @benevole.firstname %></h3>
    <div class="profile-card">
      <div class="id-head">
      <% if @benevole.avatar? %>
          <%= image_tag @benevole.avatar_url, :class => 'avatar' %>
          <% else %>
          <img src="http://www.mycolorapp.com/static/profile_images/dummy.png" class="avatar">
      <% end %>
      <div>
        <p class="name"><%= @benevole.firstname %> <%= @benevole.lastname %>
        <p class="birth"><%= @benevole.birthday %></p>
      </div>
    </div>
    <div class="id-main">
      <div>
        <h4><i class="fa fa-map-marker" aria-hidden="true"></i>Adresse</h4>
        <p><%= @benevole.address %></p>
        <p><%= @benevole.zip %></p>
        <p><%= @benevole.city %></p>
      </div>
      <div>
        <h4><i class="fa fa-mobile" aria-hidden="true"></i>Contact</h4>
        <p><%= @benevole.email %></p>
        <p><%= @benevole.phone %></p>
      </div>
      <div>
      <h4><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Motivation</h4>
        <% if (@benevole.motivation == nil)  %>
          <p><%= render html: "N'oubliez pas de remplir votre motivation" %></p>
          <% else %>
          <p><%= @benevole.motivation %></p>
        <% end %>
      </div>
    </div>
    <div class="id-footer">
      <% if benevole_signed_in? && @benevole.id == current_benevole.id %>
      <%= link_to "Modifier mes informations", edit_benevole_registration_path, :class => 'edit-info' %>
      <% end %>
    </div>
  </div>

   <h3>Voici les missions de <%= @benevole.firstname %></h3>
   <% @missions.each do |mission| %>


   <% if benevole_signed_in? && current_benevole.id == mission.benevole_id && @benevole.id == current_benevole.id %>
   <div class="profile-card mission-card">
       <h4><%= mission.title %></h4>
       <p class="comment-links">Mission proposée par <%= link_to mission.benevole.firstname,  benevole_path(mission.benevole_id) %> pour <%= link_to mission.etablissement_id(@etablissement_name), etablissement_path(mission.etablissement_id) %></p>
       <p><%= mission.body %></p>
       <p><%= mission.place %></p>
       <p><%= mission.appointment %></p>
       <p><%= mission.etablissement_id %></p>
       <%= link_to 'Modifier', edit_mission_path(mission), :class => 'edit-links' %>
       <%= link_to 'Supprimer', mission, method: :delete, data: { confirm: 'Certain ?' }, :class => 'cancel-links' %>
    </div><br>
       <% else %>
     <% end %>


  <% if benevole_signed_in? && @benevole.id == mission.benevole_id && @benevole.id != current_benevole.id %>
   <div class="profile-card mission-card">
       <h4><%= mission.title %></h4>
       <p class="comment-links">Mission proposée par <%= link_to mission.benevole.firstname,  benevole_path(mission.benevole_id) %> pour <%= link_to mission.etablissement_id(@etablissement_name), etablissement_path(mission.etablissement_id) %></p>
       <p><%= mission.body %></p>
       <p><%= mission.place %></p>
       <p><%= mission.appointment %></p>
       <p><%= mission.etablissement_id %></p>

    </div><br>
       <% else %>
     <% end %>


  <% if etablissement_signed_in? && mission.benevole_id == @benevole.id %>
   <div class="profile-card mission-card">
       <h4><%= mission.title %></h4>
       <p class="comment-links">Mission proposée par <%= link_to @benevole.firstname,  benevole_path(@benevole) %> pour <%= link_to mission.etablissement_id(@etablissement_name), etablissement_path(mission.etablissement_id) %></p>
       <p><%= mission.body %></p>
       <p><%= mission.place %></p>
       <p><%= mission.appointment %></p>
       <p><%= mission.etablissement_id %></p>
        </div><br>
       <% else %>
     <% end %>

   <% end %>


 <%= link_to 'Revenir à l\'accueil', root_path, :class=> 'nav-links' %>

<% if etablissement_signed_in?  %>
  <%= link_to 'Retour à la liste des bénévoles', benevoles_path, :class => 'nav-links' %>
  </div><br>
    <% else %>
  <% end %>


<% if benevole_signed_in? %>
  <%= link_to 'Retour à la liste des établissements', etablissements_path, :class => 'nav-links' %>
  </div><br>
    <% else %>
  <% end %>
</div>

<div class="bg-picture">
  <div class="full-picture">
    <p class="close-picture">Fermer</p>
    <% if @benevole.avatar? %><%= image_tag @benevole.avatar_url %><% end %>
  </div>
</div>
