<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>


  <%= render partial: "layouts/navbar" %>


  <div class="intro">
    <% if benevole_signed_in? == false && etablissement_signed_in? == false %>
    <div class="home-signup">
      <p><i> Laisse pas traîner mamie, si tu veux pas qu'elle glisse </i></p>
      <h4>S'enregister en tant que :</h4>
      <%= link_to "Bénevole", new_benevole_registration_path, :class => 'bnvl-sup' %>
      <%= link_to "Etablissement", new_etablissement_registration_path, :class => 'etbl-sup' %>
    </div>
    <%else%>
    <% end %>

    <% if benevole_signed_in? %>
    <div class="home-signup">
      <p><i> Salut <%= current_benevole.firstname %>, merci de donner de ton temps </i></p>
      <h4>Trouver un établissement autour de vous</h4>
      <%= link_to "Chercher", etablissements_path, :class => 'etbl-sup' %>
    </div>
    <%else%>
    <% end %>

   <% if etablissement_signed_in? %>
    <div class="home-signup">
      <p><i> Bonjour  <%= current_etablissement.name %>, passez le bonjour à vos pensionnaires de notre part </i></p>
   <br>
    <%= link_to "Voir", missions_path, :class => 'etbl-sup' %>
         <h4> les propositions reçues</h4>
    </div>
    <%else%>
    <% end %>

  </div>

  <div class="etablissements-map">
    <h1>Les établissements</h1>
    <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNWVkZjBjODItNjY4NC00ZDk1LWFiNGMtNzY0N2Y1MGI4MzM4IiwidCI6ImVhODQ3YjMxLWRjNzMtNGU2NC1iOGU5LTU0Y2IyMzc2ODhmMyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
  </div>

  </body>
</html>
