<!DOCTYPE html>
<html>
  <head>
  <title>Welcome</title>
  </head>
  <body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book a Grandma</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="missions#new">Create a Mission</a></li>
      <li><a href="current_benevole.profile">Your Profile</a></li>
    </ul>
    </div>
  </nav>

  <div class="account-infos">
    <h3>Bénévole</h3>
    <ul>
      <% if benevole_signed_in? %>
      <h6>Bienvenue <strong><%= current_benevole.email %></strong></%></h6>
      <li><%= link_to "Sign out", destroy_benevole_session_path, method: :delete %>|</li>
      <li><%= link_to "Edit Account", edit_benevole_registration_path %>|</li>
      <li><%= link_to "Voir les établissements déjà partenaires", etablissements_path %>|</li>
      <li><%= link_to "Votre profil", current_benevole.profil %></li>
      <% else %>
      <li><%= link_to "sign in", new_benevole_session_path %>|</li>
      <li><%= link_to "sign up", new_benevole_registration_path %></li>
      <% end %>
    </ul>
  </div>

  <div class="account-infos">
    <h3>Établissement</h3>
    <ul>
      <% if etablissement_signed_in? %>
      <h6>Bienvenue <strong><%= current_etablissement.email %></strong>|</h6>
      <li><%= link_to "Sign out", destroy_etablissement_session_path, method: :delete %>|</li>
      <li><%= link_to "Edit Account", edit_etablissement_registration_path %>|</li>
      <li><%= link_to "Voir les établissements déjà partenaires", etablissements_path %></li>
      <% else %>
      <li><%= link_to "sign in", new_etablissement_session_path %>|</li>
      <li><%= link_to "sign up", new_etablissement_registration_path %></li>
      <% end %>
    </ul>
  </div>

  <h1 align="center">Les établissements</h1>
  <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNWVkZjBjODItNjY4NC00ZDk1LWFiNGMtNzY0N2Y1MGI4MzM4IiwidCI6ImVhODQ3YjMxLWRjNzMtNGU2NC1iOGU5LTU0Y2IyMzc2ODhmMyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

  </body>
</html>
