

<H3>Avatar</H3>

<% if @profil.avatar? %>
  <% @avatar.each do |avatar| %>
    <div class="avatar">
      <%= image_tag @profil.avatar_url %>
    </div>
  <% end %>
<% end %>

<%= form_for @profil, :html => {:multipart => true} do |f| %>
  <p><%= f.file_field :avatar %></p>
  <p><%= f.submit %></p>
<% end %>

<H3>Informations</H3>
<%= current_benevole.firstname %>
<%= current_benevole.lastname %>
<%= current_benevole.birthday %>
<%= current_benevole.gender %>

<H3>Adresse</H3>
<%= current_benevole.address %>
<%= current_benevole.zip %>
<%= current_benevole.city %>

<H3>Contact</H3>
<%= current_benevole.email %>
<%= current_benevole.phone %>

<H3>Motivation</H3>

<p>
  <%= @profil.id %>
</p>

<% if (@profil.motivation == nil)  %>
  <%= form_tag profil_path(@profil), method: :put do %>
    <%= label_tag 'motivation', 'ta motivation' %>
    <%= text_area_tag :motivation, '', :class => "form-control" %>
    <%= submit_tag "entrer", :class => "btn btn-default" %>
  <% end %>
<% else %>
  <%= @profil.motivation %>
<% end %>

<H3>Missions</H3>
