
<H3>Avatar</H3>

<H3>Informations</H3>
<%= current_benevole.firstname %>
<%= current_benevole.lastname %>
<%= current_benevole.birthday %>
<%= current_benevole.gender %>

<H3>Adresse</H3>
<%= current_benevole.address %>
<%= current_benevole.zip %>
<%= current_benevole.city %>

<H3>Contact</H3>
<%= current_benevole.email %>
<%= current_benevole.phone %>

<H3>Motivation</H3>

<H3>Missions</H3>