<%= render partial: "layouts/navbar" %>

<div class="page-container">

  <h2>Mettre à jour vos informations de <%= current_benevole.firstname %></h2>
  <div class="decor-line"></div>

  <h3>Ma photo de profil<span>:</span></h3>

  <%= form_for @benevole, :html => {:multipart => true} do |f| %>
  <p><%= f.file_field :avatar %></p>
  <p><%= f.submit %></p>
<% end %>


  <h3>Mes informations <span>:</span></h3>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="form-line">
        <!-- Email & name -->
        <div>
          <%= f.input :email, required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>

        <div>
          <%= f.label :prénom %><br />
          <%= f.text_field :firstname%>
        </div>
        </div>

        <div class="form-line">
          <!-- Last name & bday -->
          <div>
            <%= f.label :nom %><br />
            <%= f.text_field :lastname%>
          </div>
          <div>
            <%= f.label :date_de_naissance %><br />
            <%= f.text_field :birthday%>
          </div>
        </div>

        <div class="form-line">
          <!-- Adresse & zip -->
          <div>
            <%= f.label :addresse %><br />
            <%= f.text_field :address%>
          </div>
          <div>
            <%= f.label :code_postal %><br />
            <%= f.text_field :zip%>
          </div>
      </div>

      <div class="form-line">
        <!-- City & phone -->
        <div>
          <%= f.label :ville %><br />
          <%= f.text_field :city%>
        </div>
        <div>
          <%= f.label :téléphone %><br />
          <%= f.text_field :phone%>
        </div>
      </div>
      <div class="form-line">
        <div>
          <%= f.label :motivation %><br />
          <%= f.text_area :motivation, class: 'form-control'%>
        </div>
        <%= f.label :mot_de_passe %><br />
          <%= f.password_field :password, autocomplete: "off", hint: "Ne pas compléter si vous ne souhaitez pas le changer", required: false %>
      </div>
      <div class="form-line">
        <%= f.label :confirmation_mot_de_passe %><br />
          <%= f.password_field :password_confirmation, required: false %>
        <%= f.label :mot_de_passe_actuel %><br />
          <%= f.password_field  :current_password, hint: "Entrez votre mot de passe pour confirmer les changements", required: true %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Mettre à jour" %>
    </div>
  <% end %>

  <h3>Supprimer mon compte <span>:</span></h3>

  <p>Vous n'êtes plus interessé par le service ? <br>
  <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Certain ?" }, method: :delete, :class => "cancel-links" %></p>

  <%= link_to "Retour", :back, :class => "nav-links" %><%= link_to "Voir le profil", benevole_path(id: current_benevole.id), :class => 'edit-info', :style => 'margin-left: 20px;' %>

</div>
