<%= render partial: "layouts/navbar" %>

<div class="page-container">

  <h2>S'enregistrer en tant que bénévole</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="form-line">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.label :mot_de_passe %>
          <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
      </div>
      <div class="form-line"><%= f.label :téléphone %><br />
          <%= f.text_field :phone%>
     
        <div>
          
          <%= f.label :confirmation_mot_de_passe %>
        <%= f.password_field :password_confirmation, required: true %>
        </div>
      </div>
      <div class="form-line">
        <div>
          <%= f.label :Prénom %><br />
          <%= f.text_field :firstname%>
        </div>
        <div> 
          <%= f.label :addresse %><br />
          <%= f.text_field :address%>
         
        </div>
      </div>
      <div class="form-line">
        <div> 
          <%= f.label :Nom %><br />
          <%= f.text_field :lastname%>
         
        </div>
        <div>
          <%= f.label :code_postal %><br />
          <%= f.text_field :zip%>
        </div>
      </div>
      <div class="form-line">
        <div>
          <%= f.label :ville %><br />
          <%= f.text_field :city%>
        </div>
      </div>
       <div class="form-line">
        <div>
              <%= f.label :date_anniversaire %><br />
          <%= f.text_field :birthday%>
        </div>
    </div>
    </div>



    <div class="form-actions">
      <%= f.button :submit, "S'enregistrer" %>
    </div>
  <% end %>

  <%= render "benevoles/shared/links" %>

</div>
