<%= form_for :mission, :url => etablissement_missions_path(@etablissement) do |f| %>

<% if mission.errors.any? %>    
     <div id="error_explanation">    
       <h2><%= pluralize(mission.errors.count, "error") %> prohibited this mission from being saved:</h2>    
     
       <ul>    
       <% mission.errors.full_messages.each do |message| %>    
         <li><%= message %></li>   
       <% end %>   
       </ul>   
     </div>    
   <% end %> 


<div class="field">       
     Title: <%= f.text_field :title %>   
   </div>    
     
   <div class="field">     
     Body: <%= f.text_area :body %>    
   </div>    
     
   <div class="field">       
     <%= f.hidden_field :place, :value => (@etablissement.address + " " + @etablissement.zip + " " + @etablissement.city) %>
     Adresse : <%= (" " + @etablissement.address + " " + @etablissement.zip + " " + @etablissement.city) %>   
   </div>    
     
   <div class="field">   
     <%= f.label :appointment %>    
     <%= f.text_field :appointment , id: :mission_appointment %>   
   </div> 
     
 <div class="field">  
    <%= f.hidden_field :benevole_id, :value => @benevole.id %> 
     
   </div>        
     
   <div class="field"> 
   NEW MISSION for <%= @etablissement.name %>      
   <%= f.hidden_field :etablissement_id, id: :mission_etablissement_id %> 
   </div>
     
   <div class="actions">   
     <%= f.submit %>    
   </div>    
 <% end %> 