<p id="notice"><%= notice %></p>

<%= render partial: "layouts/navbar" %>

<div class="page-container index-missions">

  <h2>Liste de vos propositions de bénévolats</h2>
  <div class="decor-line"></div>
    <% @missions.each do |mission| %>
    <% if benevole_signed_in? && current_benevole.id == mission.benevole_id %>
    <div class="profile-card mission-card">
        <h4><%= mission.title %></h4>
        <p class="comment-links">Mission proposée par <%= link_to mission.benevole.firstname,  benevole_path(mission.benevole_id) %> pour <%= link_to mission.etablissement.name, etablissement_path(mission.etablissement_id) %></p>
        <p><%= mission.body %></p>
        <p><%= mission.place %></p>
        <p><%= mission.appointment %></p>
        <p><%= mission.etablissement_id %></p>
        <%= link_to 'Edit', edit_mission_path(mission), :class => 'edit-links' %>
        <%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'cancel-links' %>
    </div><br>
        <% else %>
        </div><br>
      <% end %>
    <% end %>
    <%= link_to 'Revenir à l\'accueil', root_path, :class => 'nav-links' %>

</div>
