<p id="notice"><%= notice %></p>

<ul>
      <% if benevole_signed_in? %>
      <p>
  <strong>Title:</strong>
  <%= @mission.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @mission.body %>
</p>


<p>
  <strong>Place:</strong>
  <%= @mission.place %>
</p>


<p>
  <strong>Appointment:</strong>
  <%= @mission.appointment %>
</p>

<p>
  <strong>Benevole create:</strong>
  <%= @mission.benevole_id %>
</p>

<p>
  <strong>Etablissement :</strong>
  <%= @mission.etablissement_id %>
</p>
    </ul>

<% else %>
    
   		 <% end %>







<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>