<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Book a Grandma", root_path, :class => "navbar-brand" %></li>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <% if benevole_signed_in? %>
      <li><%= link_to "Votre bénévolat", missions_path %></li>
      <li><%= link_to "Votre profil", benevole_path(current_benevole.id) %></li>
      <li><%= link_to "Voir les établissements déjà partenaires", etablissements_path %></li>
      <% else %>
      
      <% end %>
    </ul>
  </div>
  <div class="account-infos">
    <ul>
      <% if benevole_signed_in? %>
      <li><h3>Vous êtes connecté en tant que bénévole</h3></li>
      <li><h6>Bienvenue <strong><%= current_benevole.firstname %></strong></%></h6></li>
      <li><%= link_to "Votre profil", benevole_path(id: current_benevole.id) %></li>|
      <li><%= link_to "Se déconnecter", destroy_benevole_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "sign in", new_benevole_session_path %>|</li>
      <li><%= link_to "sign up", new_benevole_registration_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="account-infos">
    <ul>
      <% if etablissement_signed_in? %>
      <li><h3>Vous êtes connecté en tant qu'établissement partenaire</h3></li>
      <li><h6>Bienvenue <strong><%= current_etablissement.name %></strong></h6></li>
      <li><%= link_to "Sign out", destroy_etablissement_session_path, method: :delete %>|</li>
      <li><%= link_to "Edit Account", edit_etablissement_registration_path %>|</li>
      <li><%= link_to "Voir les établissements déjà partenaires", etablissements_path %></li>
      <% else %>
      <li><%= link_to "sign in", new_etablissement_session_path %>|</li>
      <li><%= link_to "sign up", new_etablissement_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
