<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Book a Grandma", root_path, :class => "navbar-brand" %></li>
    </div>
    <ul class="nav navbar-nav">
      <% if benevole_signed_in? == false && etablissement_signed_in? == false %>
        <li><%= link_to "Home", root_path %></li>
        <li><a href="missions#index">Les Missions</a></li>
        <li class="button-right">Se connecter :</li>
        <li><%= link_to new_benevole_session_path do %><i class="fa fa-user-circle-o" aria-hidden="true"></i><% end %></li>
        <li><%= link_to new_etablissement_session_path do %><i class="fa fa-hospital-o" aria-hidden="true"></i><% end %></li>
      <% elsif benevole_signed_in? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Créer une mission", new_mission_path %></li>
        <li><%= link_to "Votre profil", benevole_path(id: current_benevole.id) %></li>
        <li class="button-right"><%= link_to "Sign out", destroy_benevole_session_path, method: :delete %></li>
      <% elsif etablissement_signed_in? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Créer une mission", new_mission_path %></li>
        <li><%= link_to "Votre profil", etablissement_path(id: current_etablissement.id) %></li>
        <li class="button-right"><%= link_to "Sign out", destroy_etablissement_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>